* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 16px;
  font-family: Roboto;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
  font-weight: 500;
}

a:hover {
  cursor: pointer;
  opacity: 0.8;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);

}

footer {
  padding: 30px 30px 30px 30px;
  max-width: 1000px;
  margin: 0 auto;
  display: flex !important;
  justify-content: space-between;
  border-bottom: 1px solid #F0F0F0;
}

.main-navigation {
  z-index: 999;
  width: 100%;
  background: white;
  height: 68px;
  padding: 0;
  margin: 0;
  border-top: 1px solid #F0F0F0;
  border-bottom: 1px solid #F0F0F0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sub-navigation {
  max-width: 445px;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-navigation h5 {
  position: absolute;
  left: 90px;
  top: 3px;
  color: #777777;
}

@media all and (max-width: 400px) {
  .main-navigation h5 {
    top: 7px;
    font-size: 12px;
  }
}

.main-navigation-link {
  color: #686868;
  padding: 15px;
  display: -webkit-box;
  text-align: center !important;
  display: -ms-flexbox;
  display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  border-left: 1px solid #F0F0F0;
}

.icons a:first-child {
  padding: 4px 4px 4px 0;
}

.icons a {
  padding: 4px;
}

@media all and (max-width: 460px) {
  .main-navigation-link {
    font-size: 13px;
    padding: 15px;
  }
  #about {
    display: none;
  }
  #process-link {
    display: none !important;
  }
}

.logo:hover, .main-navigation-link:hover {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.12);
}

.logo {
  width: 68px;
  display: block;
}

section {
  padding-top: 70px;
  padding-bottom: 70px;
  border-bottom: 1px solid #F0F0F0;
  padding-left: 30px;
  padding-right: 30px;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1000px;
}

.process {
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.case-studies {
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hi {
  font-size: 42px;
  line-height: 0.4em;
}

.subtitle {
  font-size: 28px;
  color: #224870;
  font-weight: 300;
}

.hero-left {
  width: 400px;
}

.hero-right {
  width: 500px;
  margin-top: auto;
}

.hero-right p {
  /* color: #929292; */
  font-size: 16px;
  color: #777777;
  letter-spacing: 0;
  /* line-height: 25px; */
  line-height: 1.8em;
}

.hero-right em {
  font-style: normal !important;
}

.hero-right p a {
  color: #224870;
}

.icons {
  width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          /*justify-content: space-between;*/
}

.download-resume {
  /* Rectangle 3: */
  display: inline-block;
  margin-top: 20px;
  background: #224870;
  /* Download Resume: */
  font-family: Roboto;
  font-size: 15px;
  /*padding: 15px 50px;*/
  color: #C3D5FF;
  padding: 18px 0;
  width: 296px;
  text-align: center;
  letter-spacing: 0;
  border-radius: 2px;
}

.title {
  /* My Process: */
  font-family: Roboto;
  font-weight: bold;
  margin: 0;
  font-size: 44px;
  color: #000000;
  letter-spacing: 0;
  line-height: 0.4em;
}

.process-item {
  max-width: 300px;
  padding-top: 20px;
}

.process-item h3 {
  margin-left: 15px;
}

.process-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  margin: 0;
  height: 35px;
}

.process-item p {
  /* I collaborate with s: */
  font-size: 16px;
  color: #777777;
  letter-spacing: 0;
  line-height: 1.8em;
}

.process-item h3 {
  /* Discover: */
  font-size: 28px;
  color: #224870;
  letter-spacing: 0;
}

.case-studies-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.case-study-item {
  max-width: 300px;
  margin-top: 45px;
}

.case-study-item h4 {
  font-size: 26px;
  font-weight: 300;
  margin: 0;
  line-height: 2.4em;
}

.case-study-item h5 {
  font-size: 13px;
  font-weight: 700;
  color: #5A5A5A;
  margin: 0;
  line-height: 0.3em;
  text-transform: uppercase;
}

.case-study-item p {
  font-size: 16px;
  color: #777777;
  letter-spacing: 0;
  line-height: 1.8em;
}

.read-more {
  display: inline-block;
  width: 100%;
  border: solid 2px #E1E1E1;
  padding: 18px 0;
  text-align: center;
  color: #224870;
  font-weight: 500;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  border-radius: 2px;
}

.main-case-study {
  max-width: 1000px;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

.results-content {
  max-width: 900px;
  color: black;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.results-content img {
  margin-top: 40px;
  max-width: 70px;
  border-radius: 100%;
}

.results-content h1 {
  font-size: 24px;
  line-height: 1.6em;
  font-weight: 300;
}

.results-content h2 {
  font-size: 25px;
  line-height: 1em;
  font-weight: 300;
  margin: 0;
  margin-top: 0.3em;

}

.results-content h3 {
  margin: 0;
  margin-top: 0.4em;
  padding-bottom: 35px;
}

.results-content hr {
  width: 30px;
  border: 3px solid #224870;
}

.main-case-study img {
  max-width: 100%;
}

.main-case-study .title {
  line-height: 1em;
  margin-top: 20px;
}

.main-case-study .subtitle {
  /* Mobile App Design: */
  font-family: Roboto;
  font-weight: bold;
  font-size: 22px;
  color: #224870;
  letter-spacing: 0;
}

.main-case-study .summary {
  /* The objective of thi: */
  font-family: Roboto;
  font-weight: 300;
  font-size: 24px;
  color: #000000;
  letter-spacing: 0;
  line-height: 39px;
}

.case-study-item img {
  max-width: 100%;
}

.case-details {
  margin: 0;
  padding: 0;
  display: flex;
  max-width: 700px;
  list-style-type: none;
  justify-content: space-between;
  flex-wrap: wrap;
}

.case-links {
  margin-top: 26px;
  padding-bottom: 30px;
}

.link-div {
  display: inline-block;
  padding: 15px 15px 15px 0;
}

.case-links img {
  position: relative;
  top: 2.9px;
  padding-right: 8px;
}

.case-detail-link {
  padding: 15px 30px;
  /* border: 1px solid #fafafa; */
  color: #593eda;
  border-radius: 2px;
  background: #f1f1f1;
  margin-right: 1em;
}

@media all and (max-width: 981px) {
  .hero-left {
    margin: 0 auto;
    text-align: center;
  }
  .hero-left .icons {
    margin: 0 auto;
    justify-content: center;
  }
}

@media all and (max-width: 842px) {
  .link-div {
    display: block;
  }
  .case-detail-link {
      display: block;
      width: 100%;
      padding:25px;
      text-align: center;
  }
}

.content-case-study {
  max-width: 1000px;
  display: block;
  margin: 0 auto;
}

.content-case-study p {
  /* Each member of our t: */
  font-family: Roboto;
  font-size: 19px;
  color: #676767;
  letter-spacing: 0;
  line-height: 30px;
}

.content-case-study img {
  max-width: 100%;
  margin-top: 20px;
}

.content-case-study a {
  color: #224870;
  text-decoration: underline;
}

.content-case-study h1 {
  margin: 0;
  margin-top: 2.4em;
}

@media all and (max-width: 513px) {
  .case-details {
    justify-content: flex-start;
  }
  .download-resume {
    display: block;
    width: 100%;
  }
  .case-details-item {
    padding-right: 25px !important;
  }
}

.case-details-item {
  padding-right: 20px;
}

.case-details-item strong {
  font-weight: bold;
}

.case-details-item p {
  line-height: 1.8em;
  font-size: 16px;
}

@media all and (max-width:1040px) {
  .case-study-item {
    max-width: 48%;
    margin-top: 40px;
  }
  .case-studies-wrapper {
    margin-top: 0;
  }
}

@media all and (max-width:980px) {
  .hero-right {
    width: 100%;
    margin-top: 30px;
  }
  .process-item {
    max-width: 45%;
  }
}

@media all and (max-width: 728px) {
  .case-study-item {
    max-width: 100%;
    margin-top: 40px;
  }
  .case-study-item:first-of-type {
    margin-top: 13px;
  }
  .hi, .title {
    font-size: 40px;
  }
  .process-item h3 {
    font-size: 24px;
  }
  .subtitle {
    font-size: 24px;
  }
  section {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
  }
  #scroll-element {
    padding-top: 100px !important;
  }
}

@media all and (max-width:500px) {
  .process-item {
    max-width: 100%;
  }
}

.active {
  color: #224870 !important;
  transition: 0.2s ease-in-out;
  border-bottom: 3px solid #224870;
}