<section data-scroll-index="2">
    <div class="case-studies">
        <div class="header">
            <h1 class="title">{{ .Site.Params.case_studies.Title }}</h1>
            <h2 class="subtitle">{{ .Site.Params.case_studies.Subtitle }}</h2>
        </div>
        <div class="case-studies-wrapper">
            {{ $baseUrl := .Site.BaseURL }}
            {{ range where .Site.Pages "Kind" "page" }}
            <div class="case-study-item">
                <a href="{{ .Params.case_url }}" target="_blank"><img src="{{ $baseUrl }}img/{{ .Params.thumbnail }}" alt=""></a>
                <h4>{{ .Params.case_short_title }}</h4>
                <h5>{{ .Params.case_subtitle }}</h5>
                <p>{{ .Params.case_description }}</p>
                <!-- <a href="{{ .URL }}" class="read-more">Read Me</a> -->
            </div>
            {{ end }}
        </div>
    </div>
</section>
