<section style="padding-top: 120px;" id="scroll-element" data-scroll-index="0">
    <div class="hero">
        <div class="hero-left">
            <img src="{{ .Site.BaseURL }}img/{{ .Site.Params.Hero.Avatar }}" style="max-width: 50%; border-radius: 50%; ">
            <h2 class="subtitle">{{ .Site.Params.Hero.subtitle }}</h2>
            <div class="icons">
                {{ if isset .Site.Params "email" }}
                <a href="mailto:{{ .Site.Params.Email }}">
                    <svg width="16px" height="14px" viewBox="0 0 16 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink">
                        <!-- Generator: Sketch 41.2 (35397) - http://www.bohemiancoding.com/sketch -->
                        <title>ui-16px-1_email-84</title>
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g id="Portfolio" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g transform="translate(-94.000000, -336.000000)" id="Group" fill="#224870">
                                <g transform="translate(94.000000, 335.000000)">
                                    <g id="ui-16px-1_email-84" transform="translate(0.000000, 1.000000)">
                                        <path d="M15,0 L1,0 C0.448,0 0,0.447 0,1 L0,13 C0,13.553 0.448,14 1,14 L15,14 C15.552,14 16,13.553 16,13 L16,1 C16,0.447 15.552,0 15,0 Z M14,12 L2,12 L2,5.723 L7.504,8.868 C7.812,9.044 8.189,9.044 8.496,8.868 L14,5.723 L14,12 Z M14,3.42 L8,6.849 L2,3.42 L2,2 L14,2 L14,3.42 Z" id="Shape"></path>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                </a>
                {{ end }}
                {{ if isset .Site.Params "facebook" }}
                <a href="https://facebook.com/{{ .Site.Params.Facebook }}" target="blank">
                    <svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink">
                        <!-- Generator: Sketch 41.2 (35397) - http://www.bohemiancoding.com/sketch -->
                        <title>social-16px_logo-facebook</title>
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g id="Portfolio" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g transform="translate(-131.000000, -335.000000)" id="Group" fill="#505050">
                                <g transform="translate(94.000000, 335.000000)">
                                    <g id="social-16px_logo-facebook" transform="translate(37.000000, 0.000000)">
                                        <path d="M15.3,0 L0.7,0 C0.3,0 0,0.3 0,0.7 L0,15.4 C0,15.7 0.3,16 0.7,16 L8,16 L8,11 L6,11 L6,8 L8,8 L8,6 C8,3.9 9.2,3 11,3 L13,3 L13,6 L12,6 C11.4,6 11,6.4 11,7 L11,8 L13.6,8 L13,11 L11,11 L11,16 L15.3,16 C15.7,16 16,15.7 16,15.3 L16,0.7 C16,0.3 15.7,0 15.3,0 Z" id="White_2_"></path>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                </a>
                {{ end }}
                {{ if isset .Site.Params "twitter" }}
                <a href="https://twitter.com/{{ .Site.Params.Twitter }}" target="blank">
                    <svg width="16px" height="14px" viewBox="0 0 16 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink">
                        <!-- Generator: Sketch 41.2 (35397) - http://www.bohemiancoding.com/sketch -->
                        <title>social-16px_logo-twitter</title>
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g id="Portfolio" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g transform="translate(-169.000000, -336.000000)" id="Group" fill="#1da1f2">
                                <g transform="translate(94.000000, 335.000000)">
                                    <g id="social-16px_logo-twitter" transform="translate(75.000000, 1.000000)">
                                        <path d="M16,2 C15.4,2.3 14.8,2.4 14.1,2.5 C14.8,2.1 15.3,1.5 15.5,0.7 C14.9,1.1 14.2,1.3 13.4,1.5 C12.8,0.9 11.9,0.5 11,0.5 C9.3,0.5 7.8,2 7.8,3.8 C7.8,4.1 7.8,4.3 7.9,4.5 C5.2,4.4 2.7,3.1 1.1,1.1 C0.8,1.6 0.7,2.1 0.7,2.8 C0.7,3.9 1.3,4.9 2.2,5.5 C1.7,5.5 1.2,5.3 0.7,5.1 L0.7,5.1 C0.7,6.7 1.8,8 3.3,8.3 C3,8.4 2.7,8.4 2.4,8.4 C2.2,8.4 2,8.4 1.8,8.3 C2.2,9.6 3.4,10.6 4.9,10.6 C3.8,11.5 2.4,12 0.8,12 L0,12 C1.5,12.9 3.2,13.5 5,13.5 C11,13.5 14.3,8.5 14.3,4.2 L14.3,3.8 C15,3.3 15.6,2.7 16,2 Z" id="Shape"></path>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                </a>
                {{ end }}
                {{ if isset .Site.Params "dribbble" }}
                <a href="https://dribbble.com/{{ .Site.Params.Dribbble }}" target="blank">
                    <svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink">
                        <!-- Generator: Sketch 41.2 (35397) - http://www.bohemiancoding.com/sketch -->
                        <title>social-16px_logo-dribbble</title>
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g id="Portfolio" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g transform="translate(-206.000000, -335.000000)" id="Group" fill="#505050">
                                <g transform="translate(94.000000, 335.000000)">
                                    <g id="social-16px_logo-dribbble" transform="translate(112.000000, 0.000000)">
                                        <path d="M8,0 C3.6,0 0,3.6 0,8 C0,12.4 3.6,16 8,16 C12.4,16 16,12.4 16,8 C16,3.6 12.4,0 8,0 Z M10.2,7.4 C10.2,7.4 10,6.8 9.9,6.6 C11.6,5.8 12.7,4.9 13.1,4.4 C13.8,5.3 14.2,6.4 14.3,7.6 C13.5,7.4 11.7,7.1 10.2,7.4 Z M9.1,5.1 C8.3,3.7 7.4,2.5 7,1.8 C8.9,1.3 10.6,1.9 11.9,3.1 C11.5,3.6 10.7,4.4 9.1,5.1 Z M5.1,2.5 C5.5,3 6.3,4.2 7.1,5.7 C4.9,6.2 2.9,6.3 2,6.3 C2.4,4.7 3.6,3.3 5.1,2.5 Z M8,7.3 C8.1,7.5 8.2,7.7 8.3,7.8 C5.5,8.7 3.7,11 3.1,11.9 C2.3,10.8 1.8,9.5 1.8,8.2 C2.7,8.1 5.3,8 8,7.3 Z M9,9.5 C9.7,11.5 10.1,13.1 10.2,13.9 C8.1,14.6 5.7,14.2 4.4,13.1 C4.8,12.4 6.1,10.6 9,9.5 Z M11.9,12.9 C11.7,12.1 11.4,10.7 10.8,9 C11.9,8.8 13.5,9 14.1,9.2 C13.8,10.7 13,12 11.9,12.9 Z" id="Shape"></path>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                </a>
                {{ end }}
                {{ if isset .Site.Params "linkedin" }}
                <a href="{{ .Site.Params.LinkedIn }}" target="blank">
                    <svg width="17px" height="16px" viewBox="0 0 17 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink">
                        <!-- Generator: Sketch 41.2 (35397) - http://www.bohemiancoding.com/sketch -->
                        <title>social-16px_logo-linkedin</title>
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g id="Portfolio" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g transform="translate(-243.000000, -335.000000)" id="Group" fill="#0077B5">
                                <g transform="translate(94.000000, 335.000000)">
                                    <g id="social-16px_logo-linkedin" transform="translate(149.000000, 0.000000)">
                                        <path d="M15.3,0 L0.7,0 C0.3,0 0,0.3 0,0.7 L0,15.4 C0,15.7 0.3,16 0.7,16 L15.4,16 C15.8,16 16.1,15.7 16.1,15.3 L16.1,0.7 C16,0.3 15.7,0 15.3,0 Z M4.7,13.6 L2.4,13.6 L2.4,6 L4.8,6 L4.8,13.6 L4.7,13.6 Z M3.6,5 C2.8,5 2.2,4.3 2.2,3.6 C2.2,2.8 2.8,2.2 3.6,2.2 C4.4,2.2 5,2.8 5,3.6 C4.9,4.3 4.3,5 3.6,5 Z M13.6,13.6 L11.2,13.6 L11.2,9.9 C11.2,9 11.2,7.9 10,7.9 C8.8,7.9 8.6,8.9 8.6,9.9 L8.6,13.7 L6.2,13.7 L6.2,6 L8.5,6 L8.5,7 L8.5,7 C8.8,6.4 9.6,5.8 10.7,5.8 C13.1,5.8 13.5,7.4 13.5,9.4 L13.5,13.6 L13.6,13.6 Z" id="Shape"></path>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                </a>
                {{ end }}
                {{ if isset .Site.Params "medium" }}
                <a href="https://medium.com/@{{ .Site.Params.Medium }}" target="blank">
                    <!--?xml version="1.0" encoding="UTF-8"?-->
                    <img src="{{ .Site.BaseURL }}img/medium.png" style="width: 16px;" alt="">
                </a>
                {{ end }}
                {{ if isset .Site.Params "github" }}
                <a href="https://github.com/{{ .Site.Params.Github }}" target="blank">
                  <svg width="17px" height="17px" viewBox="0 0 17 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>social-16px_logo-github</title>
                      <g id="Portfolio" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <g id="GitHub-Mark" transform="translate(-136.000000, -55.000000)" fill="#4078c0">
                              <path d="M144.319263,55.455 C139.902185,55.455 136.32,59.0366937 136.32,63.4552456 C136.32,66.9897924 138.612029,69.9880428 141.791009,71.0459021 C142.191267,71.1195692 142.337128,70.8725389 142.337128,70.6603777 C142.337128,70.4708077 142.330252,69.967416 142.326323,69.2999922 C140.101086,69.7832483 139.631581,68.2273994 139.631581,68.2273994 C139.267666,67.303123 138.743156,67.057075 138.743156,67.057075 C138.016799,66.5610499 138.798161,66.5708722 138.798161,66.5708722 C139.601132,66.6273503 140.02349,67.3954524 140.02349,67.3954524 C140.737078,68.617835 141.896107,68.2647241 142.351861,68.0599296 C142.424546,67.5432777 142.631305,67.1906579 142.859673,66.9907746 C141.083314,66.7889268 139.215608,66.1023495 139.215608,63.0368165 C139.215608,62.163616 139.527465,61.4490452 140.039206,60.8901576 C139.956698,60.6878187 139.682166,59.8740429 140.117784,58.7729656 C140.117784,58.7729656 140.789137,58.5578577 142.317483,59.5931258 C142.95544,59.4153426 143.640053,59.326942 144.320246,59.3235043 C144.999947,59.326942 145.684069,59.4153426 146.323008,59.5931258 C147.850372,58.5578577 148.520743,58.7729656 148.520743,58.7729656 C148.957343,59.8740429 148.68281,60.6878187 148.600794,60.8901576 C149.113517,61.4490452 149.422919,62.163616 149.422919,63.0368165 C149.422919,66.1102073 147.552266,66.7864712 145.770505,66.9843901 C146.057315,67.2314204 146.313186,67.7195876 146.313186,68.4660808 C146.313186,69.5352357 146.303364,70.3981229 146.303364,70.6603777 C146.303364,70.8745034 146.447751,71.1234981 146.853411,71.045411 C150.029936,69.9850961 152.32,66.9888101 152.32,63.4552456 C152.32,59.0366937 148.737815,55.455 144.319263,55.455" id="Fill-4"></path>
                          </g>
                      </g>
                  </svg>
                </a>
                {{ end }}
                {{ if isset .Site.Params "gitlab" }}
                <a href="https://gitlab.com/{{ .Site.Params.Gitlab }}" target="blank">
                    <title>social-16px_logo-github</title>
                    <img src="https://assets.gitlab-static.net/assets/gitlab_logo-7ae504fe4f68fdebb3c2034e36621930cd36ea87924c11ff65dbcb8ed50dca58.png" style="width: 16px;" alt="">
                </a>
                {{ end }}
            </div>
            {{ if isset .Site.Params.Hero "resume" }}
            <a href="{{ .Site.BaseURL }}{{ .Site.Params.Hero.Resume }}" target="blank" class="download-resume" onclick="ga('send', {hitType: 'event',eventCategory: 'CTA',eventAction: 'download'});">
                <img style="position: relative;top: 1.8px;padding-right: 6px;" src="svg/dl-resume.svg">
                Download Resume</a>
            {{ end }}
        </div>
        <div class="hero-right">
            {{ range $paragraph := .Site.Params.Hero.hero_right }}
                <p>{{ $paragraph | markdownify }}</p>
            {{ end }}
        </div>
    </div>
</section>
